<!DOCTYPE html>
<html>
<head>
    </head>
<body>
    <header>
        <img src="~/img/eu.jpg" alt="">
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        
    </footer>
    </body>
</html>