<!DOCTYPE html>
<html>
<head>
    </head>
<body>
    <header>
        <partial name="Shared/NavMenu"></partial>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        
    </footer>
    </body>
</html>